In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
t = pd.read_csv(r'C:\Users\k\Downloads\data_analyst_sample_data - testing.csv')
t.head()

,recommendation_id,created_at,tasker_id,position,hourly_rate,num_completed_tasks,hired,category
0,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,9/1/2017 0:32,1009185352,1,38,151,0,Furniture Assembly
1,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,9/1/2017 0:32,1006892359,2,40,193,0,Furniture Assembly
2,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,9/1/2017 0:32,1012023956,3,28,0,0,Furniture Assembly
3,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,9/1/2017 0:32,1009733517,4,43,303,0,Furniture Assembly
4,0-0-cdb916a3-2b2d-4e46-941b-3146c0b12132,9/1/2017 0:32,1009185352,1,38,151,0,Furniture Assembly

In [120]:
t["recommendation_id"].value_counts()

0-0-653cb826-b672-4ddb-92a5-c0e77402a320    5
0-0-cdb916a3-2b2d-4e46-941b-3146c0b12132    5
0-0-75d8bf65-7246-41f9-a046-66f47c8fe8b9    4
0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c    4
0-0-80815c9c-420f-4101-9ce7-61a0b623cc1f    2
0-0-1dba4657-d71b-49ea-ae5f-712fe2c44fc6    1
Name: recommendation_id, dtype: int64

In [121]:
k = t.groupby(by='recommendation_id').size()
k

recommendation_id
0-0-1dba4657-d71b-49ea-ae5f-712fe2c44fc6    1
0-0-653cb826-b672-4ddb-92a5-c0e77402a320    5
0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c    4
0-0-75d8bf65-7246-41f9-a046-66f47c8fe8b9    4
0-0-80815c9c-420f-4101-9ce7-61a0b623cc1f    2
0-0-cdb916a3-2b2d-4e46-941b-3146c0b12132    5
dtype: int64

In [149]:
average = sum(t.groupby(by='recommendation_id').size()) / len(t.groupby(by='recommendation_id').size())
average

3.5

In [150]:
k.median()

4.0

In [151]:
p = t[(t.hired > 0) & (t.category =='Furniture Assembly')]
p.head(3)

,recommendation_id,created_at,tasker_id,position,hourly_rate,num_completed_tasks,hired,category
15,0-0-80815c9c-420f-4101-9ce7-61a0b623cc1f,9/28/2017 21:51,1012916786,14,22,1,1,Furniture Assembly
17,0-0-75d8bf65-7246-41f9-a046-66f47c8fe8b9,9/28/2017 22:15,1009104851,1,25,34,1,Furniture Assembly

In [156]:
m = p.groupby(['position']).hired.count()
m

position
1     1
14    1
Name: hired, dtype: int64

In [158]:
m.iloc[1]

1

In [162]:
group_by_position = t.groupby(['position','hired','category'])
group_by_position.size().unstack()

category        Furniture Assembly  Moving Help
position hired
1        0                     2.0          1.0
         1                     1.0          NaN
2        0                     3.0          1.0
3        0                     3.0          NaN
         1                     NaN          1.0
4        0                     3.0          1.0
5        0                     1.0          1.0
8        0                     NaN          1.0
14       1                     1.0          NaN
15       0                     1.0          NaN

In [161]:
count_group_by_position = groupby(by "position","category").size()
count_group_by_position

SyntaxError: invalid syntax (<ipython-input-161-f477e9db5bea>, line 1)

In [ ]:
count_group_by_position

In [91]:
no_oftaskers_by_position = t.pivot_table(index='position', columns='category', values='tasker_id', aggfunc='count')
no_oftaskers_by_position.head()

category  Furniture Assembly  Moving Help
position
1                        3.0          1.0
2                        3.0          1.0
3                        3.0          1.0
4                        3.0          1.0
5                        1.0          1.0

In [59]:
t.pivot_table(columns='category')

category             Furniture Assembly   Moving Help
hired                      1.333333e-01  1.666667e-01
hourly_rate                3.260000e+01  5.716667e+01
num_completed_tasks        8.240000e+01  1.945000e+02
position                   4.266667e+00  3.833333e+00
tasker_id                  1.011102e+09  1.012514e+09

In [34]:
count_group_by_position[1]

position
1     1.0
2     NaN
3     1.0
4     NaN
5     NaN
8     NaN
14    1.0
15    NaN
Name: 1, dtype: float64

In [ ]:
t['booking rate'] = t.apply(lambda row: )

In [ ]:
booking rate = number of hires/number of tasker displayed

In [ ]:
df['Discounted_Price'] = df.apply(lambda row: row.Cost - 
                                  (row.Cost * 0.1), axis = 1)

In [ ]:
#4. For each category, what is the average position of the Tasker who is hired?
#summ_pos = 
#task[task.hired == 1]
task.groupby(['category','position'])['hired'].agg(['mean']).sort_values('mean',ascending=False)
#.groupby(['position','category'])['hired'].agg(['sum','count'])